<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <style>
          body {
            font-size: 12px;
            text-align: right;
          }
        </style>
    </head>
    <body>
      <div class="student-name"><%= attendance.first_name %> <%= attendance.last_name %></div>
    </body>
</html>
