<div class="container-fluid">
    <h1 class="text-center">Welcome</h1>
    <h4>JS/CSS libraries available</h4>
    <ul>
      <li>Bootstrap 3</li>
      <li>Datatables</li>
      <li>D3</li>
      <li>DC.js</li>
      <li>Crossfilter</li>
      <li>Highcharts</li>
      <li>JQuery</li>
      <li>Papaparse</li>
      <li>Font Awesome</li>
    </ul>
</div>
