<% attendances.each_with_index do |attendance, i| %>
    <% unless i == 0 %>
      <div class="page-break"></div>
    <% end %>

    <%= render 'pdfs/attendance_letters/attendance_letter', attendance: attendance, attendance_summary: attendance_summary, letter_date: letter_date, school_phone: school_phone, locale: locale %>
<% end %>
